body{
    background:url("../img/1.png") no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
}
h1{
    text-align: center;
    color: #006fff;
}
.time{
    color: #0077ff;
    position: absolute;
    right: 6px;
    bottom: 25px;
}
.div1{
    position: absolute;
    height: 340px;
    width: 290px;
    left: 150px;
    top: 150px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: rgba(0, 255, 157, 0.18);
}
.div2{
    position: absolute;
    height: 340px;
    width: 290px;
    right: 150px;
    top: 150px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: rgba(82, 238, 233, 0.16);
}
.div11{
    font-size: 40px;
    align-content: center;
}
.in1{
    height: 22px;
    width: 70px;
}
.in2{
    height: 22px;
    width: 70px;
}
button {
    background-color: rgba(60, 231, 100, 0.18); /* Green */
}
