* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
.container {
    height: 100%;
    background-image: linear-gradient(to right, #52eee9, rgba(213, 163, 35, 0.25));
}
.login-wrapper {
    background: linear-gradient(to bottom, #f2f2f2, #fff);
    width: 280px;
    height: 500px;
    border-radius: 25px;
    padding: 0 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp .4s ease-in-out;
}
@keyframes scaleUp {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
.login {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
    background: linear-gradient(to right, #4f81fe, #00f2fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.input-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(128, 125, 125);
    font-size: 15px;
    outline: none;
}
.input-item::placeholder {
    text-transform: uppercase;
}
.btn {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
    background-image: linear-gradient(to right, #a6c1ee, #52eee9);
    color: #fff;
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: '';
    position: absolute;
    width: 140%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%) skew(-20deg);
    background: rgba(255, 255, 255, 0.35);
    opacity: 0;
}

.btn:hover::before {
    opacity: 1;
    animation: btn-shine 2s forwards;
}

@keyframes btn-shine {
    0% {
        transform: translateX(-50%) skew(-20deg) scale(0, 1);
    }
    20% {
        transform: translateX(-50%) skew(-20deg) scale(1.2, 1);
    }
    40% {
        transform: translateX(-50%) skew(-20deg) scale(1, 1);
    }
    100% {
        transform: translateX(-50%) skew(-20deg) scale(0, 1);
    }
}
.msg{
    font-size: 20px;
    background: linear-gradient(to right, rgba(255, 0, 81, 0.69), rgba(255, 0, 81, 0.62));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: hidden;
}